<template>

    <v-sheet style="" elevation="2" class="my-1 pa-1" @click="ticket_store.loadTicket(data.id)">
        <p class="card_title mt-1">
            <span 
                v-if="display_status"
                class="text-red-darken-2 font-weight-bold"
            >
                {{ status_store.get_status_by_space_id_status_id(data.space_id, data.status_id).name }}
            </span>
            <span v-if="display_status"> - </span>
            {{ data.summary }}
        </p>
        <div class="my-1">
            <v-chip
                class="mr-1"
                label
                size="x-small"
                v-for="item in tag_store.tagsInSpaceIdByIdList(data.space_id, data.tag_id_list)"
                :key="item.name"
                :color="item.color"
                variant="flat"
            >
                {{ item.name }}
            </v-chip>
        </div>

        <div v-if="display_milestone">
            <v-chip
                class="mr-1"
                label
                size="x-small"
                variant="outlined"
            >
                {{ milestone_store.getMilestoneById(data.space_id, data.milestone_id)?.title }}
            </v-chip>
        </div>

        <div v-if="display_merge_requests">
             <template v-for="item in data.merge_request_data_list" :key="item.id">
                <v-icon color="green" v-if="item.state == 'merged'">mdi-git</v-icon>
                <v-icon color="blue" v-else>mdi-git</v-icon>
            </template>
        </div>


        <div class="d-flex mb-1">
            <p class="card_id me-auto pt-1">
                {{ space_store.getPrefixBySpaceId(data.space_id) }}-{{ data.number }} - <span style="font-style: italic; font-weight: 400;">0.25</span>
            </p>

            <v-avatar v-if="data.avatar_url" class="mr-1" :image="data.avatar_url" size="25"></v-avatar>
        </div>
    </v-sheet>

</template>


<script setup>
import { computed } from 'vue'
import { useTag } from '@/stores/tag'
import { useTicket } from '@/stores/ticket'
import { useMilestone } from '@/stores/milestone'
import { useStatus } from '@/stores/status'
import { useSpace } from '@/stores/space'

const props = defineProps({
    data: Object,
    options: Object,
})
const space_store = useSpace()
const ticket_store = useTicket()
const tag_store = useTag()
const milestone_store = useMilestone()
const status_store = useStatus()

const display_milestone = computed(
    () => props?.options?.display_milestone ? props.options.display_milestone : false
)

const display_status = computed(
    () => props?.options?.display_status ? props.options.display_status : false
)

const display_merge_requests = computed(
    () => props?.options?.display_merge_requests ? props.options.display_merge_requests : true
)

</script>

<style>
.card_title {
    font-size: 12px;
    line-height: 17px;
}

.card_id {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: rgb(112, 112, 112);
}
</style>