<template>
    <v-menu>
        <template v-slot:activator="{ props }">
            <v-btn
                color="primary"
                v-bind="props"
            >
                {{ selected_milestone.title ? selected_milestone.title : 'Milestones' }}
            </v-btn>
        </template>
        <v-list>
            <v-list-item
                v-for="(item, index) in milestone_list.filter((item) => !item.is_completed)"
                :key="index"
                :value="index"
                @click="cardwall_store.selectMilestone(item)"
            >
                <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</template>


<script setup>
import { useCardwall } from '@/stores/cardwall'
import { storeToRefs } from 'pinia'

const cardwall_store = useCardwall()
const { milestone_list, selected_milestone } = storeToRefs(cardwall_store)

</script>
