<template>
  <v-app-bar :elevation="0" v-if="true" density="compact">
    <template v-slot:prepend>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>Nexus<span class="flow-style">Flow</span></v-app-bar-title>

    <v-tabs>

      <v-menu location="bottom">
        <template v-slot:activator="{ props }">
          <v-btn
            v-bind="props"
            style="margin-top: 6px"
            flat
          >
            {{ selected_space ? selected_space.name : 'Space' }}
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="(item, index) in space_list.filter((item) => item.status === 1)"
            :key="index"
            @click="app_store.selectSpace(item)"
          >
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-tab
        v-for="link in links"
        :key="link.name"
        :to="{ name : link.name }"
      >
        {{ link.title }}
      </v-tab>

    </v-tabs>

    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>


    <v-btn icon>
      <v-icon>mdi-bell-outline</v-icon>
    </v-btn>
    <v-menu>
      <template v-slot:activator="{ props }">
        <v-btn
          icon
          v-bind="props"
        >
        <v-icon>mdi-account-outline</v-icon>
        </v-btn>
      </template>

      <v-card
    class="mx-auto my-8"
    elevation="16"
    max-width="344"
  >
    <v-card-item>
      <v-card-title>
        Profil utilisateur
      </v-card-title>

      <v-card-subtitle>
        Paramètres utilisateur
      </v-card-subtitle>
    </v-card-item>

    <v-list>
        <v-list-item @click="() => {}">
          <v-list-item-title>Paramètres utilisateur</v-list-item-title>
        </v-list-item>
        <v-list-item :to="{ name: 'admin-space-access'}">
          <v-list-item-title>Administration</v-list-item-title>
        </v-list-item>
      </v-list>

      <v-card-actions class="pt-0">
          <v-btn
            color="teal-accent-4"
            text="Déconnection"
            variant="text"
            @click="logout()"
          ></v-btn>
        </v-card-actions>
  </v-card>

    </v-menu>
  </v-app-bar>
</template>

 
<script setup>
import { onMounted } from 'vue';
import { useApp } from '@/stores/app'
import { useSpace } from '@/stores/space'
import { storeToRefs } from 'pinia'
import { useAuthentication } from '@/stores/authentication';
import router from '@/router'

const app_store = useApp()
const space_store = useSpace()
const authentication_store = useAuthentication()
const { space_list } = storeToRefs(space_store)
const { selected_space } = storeToRefs(app_store)


onMounted(async () => {
    await space_store.load()
    await app_store.load()
})

function logout() {
    authentication_store.logout()
    router.push({ name: 'login' })

}


const links = [
  {
    title: 'Dashboard',
    name: 'home',
  },
  {
    title: 'Cardwall',
    name: 'cardwall',
  },
  {
    title: 'Milestones',
    name: 'milestones',
  },
  {
    title: 'Merge Requests',
    name: 'merge-requests-home',
  },
]
</script>

<style scoped>
.flow-style {
  color:#e87c6f;
  font-style: italic;
  font-weight: 500;
}
</style>
  
