<template>
    <v-snackbar
        v-model="active"
        :timeout="timeout"
        :color="color"
        location="bottom left"
    >
      {{ text }}

      <template v-slot:actions v-if="has_close_button">
        <v-btn
          icon="mdi-close"
          @click="active = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
</template>

<script setup lang="ts">

import { storeToRefs } from 'pinia'
import { useSnackBar } from '@/stores/snackBar';

const snackBar = useSnackBar();

const {
  active,
  timeout,
  color,
  text,
  has_close_button,
} = storeToRefs(snackBar)

</script>

