<template>
    <v-container fluid>
    <v-timeline 
      side="end"
      density="compact"
      
      >
      <v-timeline-item 
        v-for="comment in ticket.comment_list"
        :key="comment.id"
        size="small"
        
      >
        <template v-slot:icon>
          <v-avatar :image="comment.user_avatar_url"></v-avatar>
        </template>
        <v-card class="elevation-1">
          <v-card-text v-html="generateComment(comment)"></v-card-text>
          
          <p class="text-subtitle-2">{{ formatDateTime(comment.created_on) }}</p>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </v-container>
</template>


<script setup>
import { marked } from 'marked'
import { storeToRefs } from 'pinia'
import { useTicket } from '@/stores/ticket'
import { formatDateTime } from '@/contentFormater'



const ticket_store = useTicket()
const { ticket } = storeToRefs(ticket_store)

function generateComment(comment) {
  return marked.parse(comment.comment ? comment.comment : comment.ticket_changes)
}


</script>