<template>
    <div class="d-flex flex-row">
      <v-sheet class="ma-2 pa-2" style="min-width: 300px">

        <p class="text-h5 ma-2 ">
            {{ space?.prefix }}-{{ ticket.number }}
        </p>

        <p class="text-subtitle-1 ma-2">
          Created on {{ formatDateTime(ticket.created_on) }}
        </p>

        <p class="text-subtitle-1 ma-2">
          Updated at {{ formatDateTime(ticket.updated_at) }}
        </p>
        
        <v-select
            class="ma-2"
            density="compact"
            v-model="ticket.status_id"
            :items="status_list"
            label="Status"
            item-title="name"
            item-value="id"
        ></v-select>

        <v-select
            v-if="false"
            class="ma-2"
            density="compact"
            v-model="ticket.status_id"
            :items="status_list"
            label="Status"
            item-title="name"
            item-value="id"
        ></v-select>

      </v-sheet>

      <v-sheet class="ma-2 pa-2 flex-grow-1">
        <h1 class="text-h5 ticket-title">
            {{ ticket.summary }}
            <v-btn :flat="true" class="edit" icon="mdi-pencil" density="compact"></v-btn>
        </h1>

        <v-sheet class="mt-5 description" v-html="description">
        </v-sheet>

        <v-sheet class="mt-5" v-if="debug">
            {{ ticket.description }}
        </v-sheet>




        <v-sheet>
          <v-tabs
            v-model="tab"
            align-tabs="left"
            
          >
            <v-tab :value="1">Comments</v-tab>
          </v-tabs>

          <v-tabs-window v-model="tab">
            <v-tabs-window-item
              v-for="n in 1"
              :key="n"
              :value="n"
            >
              <Comments />
            </v-tabs-window-item>
          </v-tabs-window>
        </v-sheet>

      </v-sheet>
    </div>


</template>

<script setup>
import { storeToRefs } from 'pinia'
import { ref } from 'vue'
import { useTicket } from '@/stores/ticket'
import { useStatus } from '@/stores/status'
import { useSpace } from '@/stores/space'
import { onMounted, computed } from 'vue'
import { marked } from 'marked'

import Comments from './Comments.vue'
import { watch } from 'vue'

import { formatDateTime } from '@/contentFormater'

const tab = ref()

const debug = ref(false)

const ticket_store = useTicket()
const status_store = useStatus()
const space_store = useSpace()

const { ticket } = storeToRefs(ticket_store)
const { space_list } = storeToRefs(space_store)

const space = ref({})
const status_list = ref([])

onMounted(async () => {
  await space_store.load()
  
  configureMarked()
  status_list.value = await status_store.getStatuses(ticket.value.space_id)
  space.value = space_list.value.find((item) => item.id === ticket.value.space_id)
})

const description = computed(() => {
  return marked.parse(ticket.value.description)
})

function configureMarked() {
  marked.use({
    breaks: true,
  })
}

watch(() => ticket.value.status_id, async () => {
  console.log('ticket.status_id', ticket.value.status_id)
  await ticket_store.update(ticket.value.id, {status_id: ticket.value.status_id })
})

</script>


<style>
.border {
    border: 1px solid red !important;
}

.description p { margin-top: 10px; margin-bottom: 10px}

.ticket-title > .edit {display: none !important; }
.ticket-title:hover > .edit {display: inline !important; }


</style>