<template>
    <v-app>
      <AppHeader />
      <v-main>
        <router-view v-if="ready" />
      </v-main>
      
      <TicketModal />

    </v-app>
</template>
  
<script setup>
import { onMounted } from 'vue';
import { useApp } from '@/stores/app'
import { storeToRefs } from 'pinia'
import TicketModal from '@/modals/TicketModal'
import AppHeader from '@/components/AppHeader'

const app_store = useApp()
const { ready } = storeToRefs(app_store)

onMounted(async () => {
    await app_store.load()
})

</script>
 
