<template>
    <v-container class="d-flex" fluid>

        <v-sheet style="min-width: 250px" class="mr-3">
            <v-card>
                <v-list density="compact">
                    <v-list-subheader>Active spaces</v-list-subheader>

                    <v-list-item
                        v-for="(item, i) in  space_list.filter((item) => item.status === 1)"
                        :key="i"
                        :value="item"
                        color="primary"
                        @click="is_completed = item.is_completed"
                    >

                        <v-list-item-title v-text="item.name"></v-list-item-title>
                    </v-list-item>

                    <v-list-subheader class="mt-5">Other spaces</v-list-subheader>

                    <v-list-item
                        v-for="(item, i) in  space_list.filter((item) => item.status !== 1)"
                        :key="i"
                        :value="item"
                        color="primary"
                        @click="is_completed = item.is_completed"
                    >
                        <v-list-item-title v-text="item.name"></v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-sheet>

        <v-sheet class="flex-grow-1">
            <v-list
                lines="three"
            >
                <v-list-item
                    v-for="user in teammate_store.teammatesInSpaceId(selected_space.id)"
                    :key="user.id"
                >
                    <template v-slot:prepend>
                        <v-avatar>
                            <v-img :src="user.avatar_url"></v-img>
                        </v-avatar>
                    </template>
                    <template v-slot:append>
                        <v-select
                            min-width="180"
                            :model-value="user?.user_access?.id !== undefined ? user.user_access.access_profile_id : null"
                            :items="display_profile_list"
                            item-title="name"
                            item-value="id"
                            density="compact"
                            label="Access"
                            @update:model-value="(value) => changedvalue(user, value)"
                        ></v-select>
                    </template>
                    <v-list-item-title>
                        {{ user.login }}
                    </v-list-item-title>
                    <v-list-item-subtitle v-html="formatSubtitle(user)">
                    </v-list-item-subtitle>
                </v-list-item>
            </v-list>

        </v-sheet>

    </v-container>
</template>


<script setup>
import { onMounted, computed } from 'vue'
import { storeToRefs } from 'pinia'
import { useApp } from '@/stores/app'

import { useSpace } from '@/stores/space'
import { useUser } from '@/stores/user'
import { useTeammate } from '@/stores/teammate'


const space_store = useSpace()
const app_store = useApp()
const teammate_store = useTeammate()
const user_store = useUser()

const { space_list, space_access_profile_list } = storeToRefs(space_store)
const { selected_space } = storeToRefs(app_store)

onMounted(async () => {
    await space_store.load()
    await app_store.load()
    await teammate_store.load(selected_space.value.id)
})

const display_profile_list = computed(() => {
    return [
        {
            id: null,
            name: 'None',
        },
        ...space_access_profile_list.value
    ]
})


function formatSubtitle(user) {
    return `${user.name ? user.name : ''} <span class="text-primary">${user.email}</span>` 
}


async function changedvalue(user, value) {

    if (user.user_access === null && value !== null) {
        console.log('Create')
        await user_store.createSpaceUserAccess({
            user_id: user.id,
            space_id: selected_space.value.id,
            override_access_list: [],
            access_profile_id: value,
        })
    }

    if (user.user_access !== null && value !== null) {
        console.log('update')
        await user_store.updateSpaceUserAccess(user.user_access.id, {
            access_profile_id: value,
        })
    }
    
    if (user.user_acces !== null && value === null) {
        console.log('delete')
        await user_store.deleteSpaceUserAccess(user.user_access.id)
    }
    await teammate_store.load(selected_space.value.id, true)

}

</script>
