<template>
    <v-toolbar density="compact" title="Filters" color="grey-lighten-4">
        <v-btn color="primary">
            Show done
        </v-btn>
        <MilestoneFilter />
    </v-toolbar>

    <v-sheet class="cardwall-board d-flex align-stretch mb-6">

        <template
            v-for="item in ticket_status_list"
            :key="item.name"
        >
            <v-sheet class="ma-1 pa-0 flex-grow-1 flex-shrink-1 rounded column" v-if="item.ticket_list?.length">
                <div class="cardwall-column-header ma-1 pa-1">
                    {{ item.name }} ({{ item.ticket_list?.length }})
                </div>
                <draggable
                    class="list-group scroller column-cards-zone"
                    :list="item.ticket_list"
                    group="tickets"
                    ghost-class="ghost"
                    @change="log"
                    itemKey="id"
                >
                    <template #item="{ element }">
                        <Card  :key="element.id" class="ml-2 mb-2" :data="element"></Card>
                    </template>
                </draggable>
            </v-sheet>

            <v-sheet class="ma-1 pa-0 flex-grow-1 flex-shrink-1 rounded reduced-column" v-else>
                <div class="reduced-cardwall-column-header ma-1 pa-1">
                    {{ item.name }} ({{ item.ticket_list?.length }})
                </div>
                <draggable
                    class="list-group scroller "
                    :list="item.ticket_list"
                    group="tickets"
                    ghost-class="ghost"
                    @change="log"
                    itemKey="id"
                >
                    <template #item="{}">
                        <v-sheet style="" elevation="2" class="my-1 pa-1 ml-2 mb-2"></v-sheet>
                    </template>
                </draggable>
            </v-sheet>
            

        </template>
    </v-sheet>

</template>


<script setup>
import draggable from "vuedraggable";
import MilestoneFilter from '@/components/cardwall/MilestoneFilter'
import { onMounted } from 'vue'
import { useCardwall } from '@/stores/cardwall'
import { useApp } from '@/stores/app'
import { storeToRefs } from 'pinia'
import { watch } from "vue";

const app_store = useApp()
const cardwall_store = useCardwall()

const { selected_space } = storeToRefs(app_store)
const { ticket_status_list, selected_milestone } = storeToRefs(cardwall_store)

function log(ev) {
    console.log(ev)
}

onMounted(async () => {
    cardwall_store.setSpace(selected_space)
    await cardwall_store.getStatuses()
    await cardwall_store.getMilestones()
    await cardwall_store.search({})
    cardwall_store.generateCardwall()
    console.log(ticket_status_list.value)
})

watch(selected_milestone, async () => {
    await cardwall_store.search({})
    cardwall_store.generateCardwall()
})

</script>


<style>
.cardwall-board {
    height: calc(100% - 48px);
    overflow-x: scroll;
}

.column {
    min-width: 220px;
    background-color: rgb(239, 239, 239);
}

.column-cards-zone {
    height: calc(100vh - 128px - 48px);
    overflow-y: scroll
}

.cardwall-column-header {
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
}

.reduced-column {
    width: 35px;
    max-width: 35px;
    background-color: rgb(239, 239, 239);
}

.reduced-cardwall-column-header {
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}


.ghost {
  opacity: 0.25;
  background: #c8ebfb;
}

</style>