<template>
    
    <v-container v-if="selected_space == null" class="d-flex" fluid>
        <v-card
                class="mx-5 my-8"
                elevation="2"
            >
        <p class="ma-5">
            Vous devez selectionner un espace pour voir vos tickets
        </p>
        </v-card>
    </v-container>

    <v-container v-else class="d-flex" fluid>
        <div class="flex-grow-1">
            <v-card
                class="mx-5 my-8"
                elevation="2"
                
            >
                <v-card-item>
                    <v-card-title>
                        Mes tickets
                    </v-card-title>

                    <v-card-subtitle>
                        Mes tickets
                    </v-card-subtitle>
                </v-card-item>

                <v-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </v-card-text>

                <v-select
                    v-model="selected_status_list"
                    :items="status_store.get_status_by_space_id(selected_space.id)"
                    label="Status"
                    item-title="name"
                    item-value="id"
                    chips
                    multiple
                ></v-select>


                <Card 
                    class="ml-2 mb-2"
                    v-for="ticket in ticket_list"
                    :options="{ display_milestone: true, display_status: true }"
                    :key="ticket.id"
                    :data="ticket"
                />
            </v-card>
        </div>
        <div class="flex-grow-1">
            <v-card
                class="mx-5 my-8"
                elevation="2"
                
            >
                <v-card-item>
                <v-card-title>
                    A faire
                </v-card-title>

                <v-card-subtitle>
                    Tickets a reviewer
                </v-card-subtitle>
                </v-card-item>

                <v-card-text>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </v-card-text>
            </v-card>
        </div>
    </v-container>
</template>


<script setup>
import { ref, watch } from 'vue'
import { onMounted } from 'vue'
import { useApp } from '@/stores/app'
import { storeToRefs } from 'pinia'

import { useDashboard } from '@/stores/dashboard'
import { useAuthentication } from '@/stores/authentication'
import { useStatus } from '@/stores/status'

const app_store = useApp()
const { selected_space } = storeToRefs(app_store)
const dashboard_store = useDashboard()
const authentication_store = useAuthentication()
const status_store = useStatus()

const ticket_list = ref([])
const selected_status_list = ref([])
const user_data = ref({})

onMounted(async () => {



    selected_status_list.value = status_store
        .get_status_by_space_id(selected_space.value.id)
        .filter((item) => item.state === 1)
        .map((item) => item.id)

    user_data.value = authentication_store.getUserData();
    ticket_list.value = await dashboard_store.searchTickets({
        assigned_to_user_id: user_data.value.user_id,
        space_id: selected_space.value.id,
        status_id_list: selected_status_list.value,
    })
})

watch(selected_status_list, async () => {
    ticket_list.value = await dashboard_store.searchTickets({
        assigned_to_user_id: user_data.value.user_id,
        space_id: selected_space.value.id,
        status_id_list: selected_status_list.value,
    }) 
})




</script>