<template>
    <v-sheet class="mx-auto" max-width="300">
        <v-form validate-on="submit lazy" @submit.prevent="submit">
        <v-text-field
            v-model="login"
            label="User name"
        ></v-text-field>
        <v-text-field
            v-model="password"
            label="Mot de passe"
        ></v-text-field>
        <v-btn
            :loading="loading"
            class="mt-2"
            text="Submit"
            type="submit"
            block
        ></v-btn>
        </v-form>
  </v-sheet>
</template>


<script setup>
import { ref } from 'vue';
import { useSnackBar } from '@/stores/snackBar'
import { useAuthentication } from '@/stores/authentication'
import router from '@/router'

const loading = ref(false);
// const login = ref('USER_1.test@test.js');
const login = ref('ArtiomNomi');
const password = ref('Mypassword');

const user_snack_bar = useSnackBar()
const user_authentication = useAuthentication()

async function submit() {
    try {
        loading.value = true
        await user_authentication.login(login.value, password.value)
        user_snack_bar.triggerSuccess({
            text: 'Success',
        })
        router.push({ name: 'home' })

    } catch (error) {
        user_snack_bar.triggerError({
            text: 'Echec de connection',
        })
    }
    loading.value = false
}


</script>
