<template>
    <v-container fluid>

        <v-sheet
            elevation="1"
            class="ma-4"
        >
            <div class="text-subtitle-2 pa-4">
                finished {{ total_merged }} - open on period {{ total_open_custmon_date_statistic }} - total open {{ total_open }}
            </div>
        </v-sheet>

        <div class="ma-4 d-flex">
            <v-text-field
                label="Search"
                v-model="text_search"
            ></v-text-field>


            <v-dialog max-width="500">
                <template v-slot:activator="{ props: activatorProps }">
                    <v-btn
                        v-bind="activatorProps"
                        class="mt-3"
                        :text="display_created_on_lower_boundary"
                        variant="flat"
                    ></v-btn>
                </template>

                <template v-slot:default="{ isActive }">
                    <v-card>
                        <v-date-picker
                            class="ma-auto"
                            v-model="created_on_lower_boundary"
                            show-adjacent-months
                        ></v-date-picker>

                        <v-card-actions>
                            <v-btn
                                text="Close Dialog"
                                @click="isActive.value = false"
                            ></v-btn>
                        </v-card-actions>
                    </v-card>
                </template>
            </v-dialog>


            <v-dialog max-width="500">
                <template v-slot:activator="{ props: activatorProps }">
                    <v-btn
                        v-bind="activatorProps"
                        class="mt-3"
                        :text="display_created_on_upper_boundary"
                        variant="flat"
                    ></v-btn>
                </template>

                <template v-slot:default="{ isActive }">
                    <v-card>
                        <v-date-picker
                            class="ma-auto"
                            v-model="created_on_upper_boundary"
                            show-adjacent-months
                        ></v-date-picker>

                        <v-card-actions>
                            <v-btn
                                text="Close Dialog"
                                @click="isActive.value = false"
                            ></v-btn>
                        </v-card-actions>
                    </v-card>
                </template>
            </v-dialog>
        </div>

        <v-sheet
            elevation="2"
            class="ma-4 pt-2"
        >

            <v-data-table-virtual
                :headers="headers"
                :items="display_repository_serivce_list"
                :loading="loading"
                item-value="repository"
            ></v-data-table-virtual>
        </v-sheet>
    </v-container>
</template>


<script setup>
import { ref, onMounted, watch, computed } from 'vue'
import { useMergeRequest } from '@/stores/mergeRequest'
import { formatDate } from '@/contentFormater'

const loading = ref(false)
const totalItems = ref(0)
const merge_request_list = ref([])

const total_merged = ref(0)
const total_open = ref(0)

const total_open_custmon_date_statistic = ref(0)
const total_all_custmon_date_statistic = ref(0)
const repository_serivce_list = ref([])

const text_search = ref('')

const created_on_lower_boundary = ref(null);
const created_on_upper_boundary = ref(null);

const headers = [
    {
        title: 'Name',
        align: 'start',
        sortable: true,
        key: 'repository',
    },
    {
        title: 'Finished',
        align: 'start',
        sortable: true,
        key: 'finished',
    },
    {
        title: 'Open this perdiod',
        align: 'start',
        sortable: true,
        key: 'custmon_date_statistic.open',
    },
    {
        title: 'Opened',
        align: 'start',
        sortable: true,
        key: 'open',
    },
]


const merge_request_store = useMergeRequest()


onMounted(async () => {
    await loadMergeRequests()
})


async function loadMergeRequests() {
    loading.value = true


    total_merged.value = 0
    total_open.value = 0
    total_open_custmon_date_statistic.value = 0
    total_all_custmon_date_statistic.value = 0

    const response = await merge_request_store.searchMergeRequestStatics({
        created_on_lower_boundary: created_on_lower_boundary.value 
            ? new Date(created_on_lower_boundary.value).toISOString()
            : undefined,
    })
    response.forEach((item) => {
        total_merged.value += item.finished
        total_open.value += item.open
        total_open_custmon_date_statistic.value += item?.custmon_date_statistic?.open ? item?.custmon_date_statistic?.open : 0

        total_all_custmon_date_statistic.value += item?.custmon_date_statistic?.open ? item?.custmon_date_statistic?.open : 0
        total_all_custmon_date_statistic.value += item?.custmon_date_statistic?.closed ? item?.custmon_date_statistic?.closed : 0
        total_all_custmon_date_statistic.value += item?.custmon_date_statistic?.merged ? item?.custmon_date_statistic?.merged : 0
        total_all_custmon_date_statistic.value += item?.custmon_date_statistic?.finished ? item?.custmon_date_statistic?.finished : 0

    })
    totalItems.value = response.length
    repository_serivce_list.value = response
    loading.value = false

}


const display_repository_serivce_list = computed(() => {
    if (!text_search.value) {
        return repository_serivce_list.value
    }
    return merge_request_list.value.filter((item) => item.repository.includes(text_search.value))
})


watch(created_on_lower_boundary, () => {
    loadMergeRequests()
})

watch(created_on_upper_boundary, () => {
    loadMergeRequests()
})

const display_created_on_lower_boundary = computed(
    () => created_on_lower_boundary.value ? formatDate(new Date(created_on_lower_boundary.value).toISOString()) : 'Period from'
);

const display_created_on_upper_boundary = computed(
    () => created_on_upper_boundary.value ? formatDate(new Date(created_on_upper_boundary.value).toISOString()) : 'Period to'
);


</script>