<template>
    <v-container class="d-flex" fluid>

        <v-sheet style="min-width: 250px" class="mr-3">
            <v-card>
                <v-list density="compact">
                <v-list-subheader>Milestones</v-list-subheader>

                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    :value="item"
                    color="primary"
                    @click="is_completed = item.is_completed"
                >
                    <template v-slot:prepend>
                        <v-icon :icon="item.icon"></v-icon>
                    </template>

                    <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item>
                </v-list>
            </v-card>
        </v-sheet>

        <v-sheet
            class="flex-grow-1"
        >
            <v-card
                class="mb-5"
                elevation="2"
                v-for="milesone in rendered_milestone_list"
                :key="milesone.id"
            >
                <v-card-item>
                    <v-card-title>
                        {{ milesone.title }}
                    </v-card-title>

                    <v-card-subtitle v-html="marked.parse(milesone.description ? milesone.description : '')">
                    </v-card-subtitle>
                </v-card-item>
                <v-card-text>
                    <v-chip 
                        v-if="milesone.is_completed"
                        color="rgb(238, 85, 85)"
                        size="small"
                    >
                        Closed
                    </v-chip>
                    <v-chip
                        v-else
                        color="rgb(85, 188, 85)"
                        size="small"
                    >
                        Open
                    </v-chip>
                </v-card-text>
            </v-card>

            <div class="text-center">
                <v-pagination
                    v-model="page"
                    :length="total_pages_count"
                    :total-visible="6"
                ></v-pagination>
            </div>
        </v-sheet>
  </v-container>
</template>


<script setup>
import { onMounted, ref } from 'vue'
import { storeToRefs } from 'pinia'
import { useMilestone } from '@/stores/milestone'
import { useApp } from '@/stores/app'
import { computed } from 'vue';
import { watch } from 'vue';
import { marked } from 'marked'

const per_page = 10
const page = ref(1)

const is_completed = ref(null)
const app_store = useApp()
const milestone_store = useMilestone()

const { selected_space } = storeToRefs(app_store)
const milestone_list = ref([])

const items =  [
    { text: 'All Milestones', icon: 'mdi-clock', is_completed: null },
    { text: 'Open Milestones', icon: 'mdi-clock', is_completed: false },
    { text: 'Closed Milestones', icon: 'mdi-account', is_completed: true },
];


onMounted(async () => {
    milestone_list.value = await milestone_store.getMilestones(selected_space.value.id)
})

watch(page, () => {
    console.log('page', page.value)
})

watch(is_completed, () => {
    page.value = 1
})

const slice_index = computed(() => {
    return (page.value - 1) * per_page
})

const rendered_milestone_list = computed(() => {
    return milestone_list
        .value
        .filter((milestone) => is_completed.value == null ? true : milestone.is_completed == is_completed.value)
        .slice(slice_index.value, slice_index.value + per_page)
});

const total_pages_count = computed(() => {

    const length = milestone_list
        .value
        .filter((milestone) => is_completed.value == null ? true : milestone.is_completed == is_completed.value)
        .length

    return Math.ceil(length / per_page)
})



</script>
