<template>
    <component v-if="!loading" :is="$route.meta.layout || 'div'">
        <router-view />
    </component>
</template>

<script setup>

import { ref, onMounted } from 'vue'
import { useAuthentication } from '@/stores/authentication'
import router from '@/router'


const authentication_store = useAuthentication()
const loading = ref(true)

onMounted(() => {
    const valid_token = authentication_store.storedTokenIsValid()
    if (!valid_token) {
        console.log('valid_token', valid_token)
        authentication_store.logout()
        router.push({ name: 'login' })
    }
    loading.value = false
})

</script>

<style>
.scroller {
    --scrollbar-color-thumb: #ccc;
    --scrollbar-color-track: transparent;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 10px;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
    .scroller {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
        scrollbar-width: var(--scrollbar-width);
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    .scroller::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb);
    }
    .scroller::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track);
    }
    .scroller::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
    }
}
</style>