<template>
    <v-dialog
        v-model="ticket_modal"
        transition="dialog-bottom-transition"
        fullscreen
    >
        <v-card>
          <v-toolbar density="compact" class="fixed-bar">
            <v-btn
              icon="mdi-close"
              @click="ticket_modal = false"
            ></v-btn>

            <v-toolbar-title>Ticket</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-toolbar-items>
              <v-btn
                text="Save"
                variant="text"
                @click="ticket_modal = false"
              ></v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <Ticket v-if="!loading" />

        </v-card>

    </v-dialog>
</template>


<script setup>
import { storeToRefs } from 'pinia'
import { useTicket } from '@/stores/ticket'
import Ticket from '@/components/ticket/Ticket.vue'

const ticket_store = useTicket()
const { ticket_modal, loading } = storeToRefs(ticket_store)

</script>

<style>
.fixed-bar {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 0em;
  z-index: 2;
}

</style>